<article>
  <h1>
    <%= link_to article.url do %>
      <%= article.title %>
    <% end %>
  </h1>

  <% if article.published_at %>
    <p class="published">
      <% if article.feed_favicon %>
        <%= image_tag article.feed_favicon, class: 'icon' %>
        <br/>
      <% end %>
      <%= published(article.published_at) %>
      <% if article.author %>
        <br />
        By <%= article.author %>
      <% end %>
    </p>
  <% end %>

  <%= raw article.content %>
</article>
